*~
*.o
*.a
*.app
*.swp
*.xcodeproj
*.sln
*.vcxproj*
*.pyc
__pycache__
/.dir-locals.el
/.vs
Info.plist
Makefile*
*.user
/build
/dist
/dist-tmp
/build-x86_64-linux-gnu
/build-i686-w64-mingw32
/build-x86_64-w64-mingw32
/basictools/minikey
/basictools/mp3key
/basictools/himdformat
/basictools/himddiskid
