*~
*.o
*.a
*.app
*.swp
*.xcodeproj
*.sln
*.vcxproj*
*.pyc
__pycache__
/.dir-locals.el
/.vs
Info.plist
Makefile*
*.user
/builddir
/basictools/minikey
/basictools/mp3key
/basictools/himdformat
/basictools/himddiskid
